.main{
    margin:0 20px;
    font-size: 20px;
}
.top{
    margin-top: 50px;

}
.content{
    width:100%;
    background: #fff;
    padding:10px;
    max-height: 600px;
    margin: 10px 0;
}
.content_header{
    display: flex;
    
}
.moderator{
    padding:10px;
    display: flex;
}
a{
    color: black;
    display: flex;

}
a:hover{
    text-decoration: none;
    color: black;
}
.user{
    display:flex;
    border: 1px solid rgb(136, 134, 134);
    border-radius: 5px;
    /* width:200px; */
    margin-bottom: 10px;
    
}
.search{
    background: rgb(136, 134, 134);
    padding:0 5px;
    color: #fff;
}
.date ,.right,.details{
    font-size: 13px;
    color:rgb(133, 131, 131);
}
.right{
    position: absolute;
    right:30px;
    /* font-size: 13px;
    color:rgb(133, 131, 131); */
}
.icon{
    width:30px;
    height:30px;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 5px;
    background: #e07979;
    margin-right: 5px;
}
.link{
    width: 200px;
}
.details{
    display: none;
    border: 1px solid rgb(105, 104, 104);
    position: absolute;
    left: 40px;
    background: #fff;
    width: 250px;
    color: black;
    padding:5px;
}
.flex{
    display: flex;
    /* margin:5px; */
}
.num{
    margin:10px 0 10px 25px;
}
.details-btn{
    width:100%;
    margin:5px 0;
}
.link :hover .details{
    display:block;
}