/* ==================================== */
/* ���� */
/* ------------------------------------ */

h1,h2,h3,h4{
	font-size:16px;
}
body{
	background:#696969;
}
header{
	margin-bottom:20px;
}
header nav{
	display:flex;
	background:#fff;
}
header nav ul{
	display:flex;
}
input[type=text]{
	background:fff;
	border-solid:aaa;
	border-radius:3px;
}
ul{
	list-style:none;
	
}
ol{
	list-style-position:inside;
}

/* ==================================== */
/* �u���b�N�̒�` */
/* ------------------------------------ */

.header-log{
	display:inline-block;
}

.block{
	background:white;
	border:solid 1px #ccc;
	border-radius:5px;
	padding:15px;
	margin-bottom:20px;
}
main .block.post{
	position:relative;
}
main .block.post .post-rank{
	position:absolute;
	top:0px;
	left:0px;

	width:40px;
	height:100%;
	background:#fafafa;
}
main .block.post .post-rank p{
	margin:0;
	text-align:center;
}

main .block.post .post-content{
	margin-left:40px;
}
main .block.post .post-header{
	display:flex;
}
/**list-styleを指定する**/
ul{    
    list-style: none;
}

/** 見た目を整える **/
body,ul,li{
    margin:0px;
	padding:0px;
	
}


/****/

.sub-header-menu li{    
    padding:10px 30px;
    margin:2.5px;

    background-color: rgb(0, 0, 0);
    border-radius: 5px;

    text-align: center;
    color:white;
}
.sub-header-menu ul{

		list-style: none;
		display:flex;

}
#sub-header-icon{
	border-radius: 100%;
    border: 4px solid #fff;
    display: inline-block;
    height: 72px;
    width: 72px;
}
#sub-header-backimg{
	height: 250px;
	width: 1110px;
}

.sub-header{
	background-color: black;
}
.sub-header p{
	color:white;

}


textarea{
	height:200px;
	width:600px;
}

/*.frame{
	/*background-color:#ededed;
	width:600px;
	margin-top:-5px;
	height: 47px;
}*/



#trix-toolbar-1{
	width:55%;
	height:54px;
}

.trix-button-row{
	height:54px;
}

.comment-action{
	font-size:15px; 
	color:#a0a0a0; 
	font-weight: bold;
}

.comment-evalute{
	font-size:15px;
	color:#a0a0a0;
	margin:0 0 0 0;
}

label{
	font-size: 13px;
	margin-bottom:210px;
}

.icoon{
	margin-bottom:30px;
}

.text{
	position:relative;
	top:-255px; height:200px;
	margin:0 0 0 0;
}

.frame{
	height:54px;
	width:45%;
	background-color: #ededed;
	position: relative;
	top:-255px;
	margin:0 0 0 0;
}

.mk-btn{
	margin:5px 0px 0 10px;
	width:55%;
}

.com-btn{
	margin:5px 6px 0 0px;
	width:30%;
}

.comment-nav{
	width:80%;
}

.comment-icoon{
	margin:30px 0 90px 0;
	width:100%;
}

.rep-eva{
	color:#a0a0a0; 
	font-size: 12px;
}

.com-icoon .rep-res{
	color:#a0a0a0; 
	font-size: 12px;
	margin-right: 8px;

}

.com-icoon .rep-share{
	color:#a0a0a0;
	font-size: 12px;
	margin-right: 8px; 

}

.com-icoon .rep-repo{
	color:#a0a0a0; 
	font-size: 12px;
	margin-right: 8px;

}

.com-icoon .rep-save{
	color:#a0a0a0; 
	font-size: 12px;

}

.com-icoon{
	width:70%;
	margin:-39px 0 0 50px;
}

.top{
	color:#a0a0a0; 
	font-size: 12px;
}

/*.bottom{
	color:#a0a0a0; 
	font-size: 12px;
}*/

.rep-sort{
	font-size: 12px;
}

.rep-sort-name{
	font-size: 15px;
	position:relative;
	top:-38px;
	left:60px;
	
}

.rep-sorts{
	border-bottom: 1px solid #a0a0a0;
	height:30px;
	margin:-160px 0 0 0;
}

.reply-com{
	margin:30px 0 -10px 0;
}

.rep-imgs{
	background-color: grey;
	width:30px;
	height:30px;
	border-radius:50%;
	float: left;
	position: relative;
	top:-100px;
	margin-left:-40px;
}

.com-reply{
	margin-left:40px;
}

.rep-img{
	background-color: grey;
	width:30px;
	height:30px;
	border-radius:50%;
	float: left;
	margin-left:-40px;
}

.com-reply .rep-border{
	border-left:1px solid #a0a0a0;
	margin:5px 0 0 -25px;
	padding: 0px 0 0 25px;
}

.rep-time{
	font-size: 14px;
	margin-left:10px;
	color: grey;
}

select {
	-moz-appearance: menulist;
	-webkit-appearance: menulist;

}

select::-ms-expand {
	display: block;
}

i{
	padding-right: 5px;;
}

#wrap{
	width:90%;
	margin:-20px auto;
	background-color: #ddd;
	padding-top:40px;
}

.con-sub-head{
	position: relative;;
	top:-40px;
	background-color: #202020;
	width:100%;
	height:50px;

}

.com-eva{
	margin:7px 0 0 15%;
	font-size: 17px;
	font-weight: bold;
	width:88px;
	height:35px;
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
	padding-top:5px;
}

.com-eva .subhead-up{
	text-align: center;
	color: grey;
	margin-left:12px;
}

.com-eva .subhead-count{
	color:#fff;
	text-align: center;
	color: grey;
}

.com-eva .subhead-down{
	color:grey;
	margin-left:5px;
}

.fa-link{
	color:grey;
	font-size:23px;
	margin:12px 0 0 1%;

}

.com-head{
	color:grey;
	position: absolute;
	top:10px;
	width:90%;
}

.p-head{
	float: left;
	margin-left:40%;
}

.con-sub-head .subhead-close{
	font-size:15px;
	color:#a0a0a0;
	margin:13px 7% 0 0;
}

