.postcard-classic .block-post-classic .post-rank-classic p.eva_like_set {
    color: greenyellow;
}

.postcard-classic .block-post-classic .post-rank-classic p.eva_dislike_set {
    color: red;
}

span.eva_like_set {
    color: greenyellow;
}

span.eva_dislike_set {
    color: red;
}
.postcard-classic .block-post-classic .post-rank-classic p.eva_like_set {
    color: greenyellow;
}

.postcard-classic .block-post-classic .post-rank-classic p.eva_dislike_set {
    color: red;
}