body {
    background: #696969;
}
i {
    padding-right: 5px;
}
.fa-link {
    color: grey;
    font-size: 23px;
    margin: 12px 0 0 1%;
}


.com-head {
    color: grey;
    position: absolute;
    top: 10px;
    width: 90%;
    text-align:center;
}
.con-sub-wrap{
	width:90%;
	margin:-20px auto;
	background-color: #ddd;
	padding-top:40px;
}

.con-sub-head{
	position: relative;;
	top:-40px;
	background-color: #202020;
	width:100%;
	height:50px;

}
.con-sub-head .subhead-close {
    font-size: 15px;
    color: #a0a0a0;
    margin: 13px 7% 0 0;
}


.com-eva{
	margin:7px 0 0 15%;
	font-size: 17px;
	font-weight: bold;
	width:88px;
	height:35px;
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
	padding-top:5px;
}

.com-eva .subhead-up{
	text-align: center;
	color: grey;
	margin-left:12px;
}

.com-eva .subhead-count{
	color:#fff;
	text-align: center;
	color: grey;
}

.com-eva .subhead-down{
	color:grey;
	margin-left:5px;
}


.comment-icoon{
	margin:30px 0 90px 0;
	width:100%;
}
.comment-nav{
	width:80%;
}
.comment-action{
	font-size:15px; 
	color:#a0a0a0; 
	font-weight: bold;
}
.comment-evalute{
	font-size:15px;
	color:#a0a0a0;
	margin:0 0 0 0;
}



#commentForm label{
	font-size: 13px;
	margin-bottom:210px;
}
#trix-toolbar-1{
	width:55%;
	height:54px;
}

